# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
.venv/
venv/
env/
.env
.env.local


# Django static/media
staticfiles/
media/

# Node / Frontend
node_modules/
frontend/node_modules/
frontend/dist/
dist/
*.log
# VSCode / IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
